.checkBoxContainer {
  padding-top: 15px;
  text-align: center;
  margin: 30px;
  margin: initial;
}

.checkBox {
  margin-top: 15px;
  border: 2px groove black;
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
}

.check {
  margin: 5px;
}

.labels {
}

@media screen and (max-width: 767px) {
  .checkBoxContainer {
    padding-top: 10px;
    margin: 0px;
  }
}
